@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: karla, sans-serif;
}

/* Button */
.btn {
  padding: 0.75rem 2rem;
  border: none;
  background-color: #4d5b9e;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* Welcome */
.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
}
.welcome h1 {
  font-size: 3em;
  color: #2c3566;
}
.welcome p {
  font-size: 1.25rem;
}
.welcome .btn {
  margin-top: 1.5em;
}

/* Questions */
.questions {
  margin: 2em 10em;
}
.item {
  color: #363e6d;
  padding: 0.5em 1em;
}
.options {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
}
.option {
  margin-left: 4em;
  border: 1px solid #aab2d1;
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
}
.submit {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  column-gap: 1rem;
  align-items: center;
}

/* mobile responsive */
@media screen and (max-width: 776px) {
  .option {
    font-size: 12px;
    margin-left: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .questions {
    margin: 2em;
  }
}

/* colors */
.selected {
  background-color: #d6dbf5;
}
.wrong {
  background-color: #f7d9db;
}
.corrected {
  background-color: #94d7a2;
}
